body {
    display: grid;
    place-items: center;
    height: 0vh; 
    margin: 0; 
    background-color: black;
  }

  h1{
    color: orange;
  }
  h2{
    color: purple;
  }
  div{
    color: white;
    font-size: 25px;
  }
  button{
    background-color: brown;
  }

#playfield{
    font-size: 30px;
    border: solid grey 5px;
    user-select: none;
}
td{
  width: 69px;
  height: 50px; 
  border: solid black 2px;
  background-color: blue;
}

td:hover{
    cursor: pointer;
    background-color: yellow;
    color: green;
}

#bomb{
  background-color: orange;
    color: red;
}