body {
  margin-left: 10%;
    background-color: black;
    font-family: "Courier New", Courier, monospace;
  }

  h1{
    color: goldenrod;
  }
  h2{
    font-size: 30px;
    color: rgb(157, 76, 189);
  }
  div{
    color:rgba(245, 245, 220, 0.733);
    font-size: 25px;
  }
  #scoreDiv{
    color: goldenrod;
  }
  button{
    margin-top: 5px;
    font-size: 20px;
    height: 30px;
    background-color: rgba(192, 110, 192, 0.377);
    color:rgba(245, 245, 220, 0.733);
  }
  button:hover{
    cursor: pointer;
  }

#playfield{
    font-size: 30px;
    border: solid grey 5px;
    user-select: none;
}
td{
  width: 69px;
  height: 50px; 
  border: solid black 2px;
  background-color: rgba(138, 91, 53, 0.74);
}

td:hover{
    cursor: pointer;
    background-color: goldenrod;
    color: green;
}

#bomb{
  background-color: orange;
    color: red;
}